@media screen and (max-width:425px) {
    .nav-container{
        flex-direction: column;
    }
    .logo-container{
        flex-direction: column;
    }
    .nav-items ul{
        flex-direction: column;
        gap: 20px;
    }
    .last-li{
        padding: 10px 10px;
    }
    .follow{
        margin-bottom: 20px;
    }
    .fa-brands{
        width: 40px;
        height: 32px;
    }
    .logo-container{
        width: 100%;
    }
    .nav-items{
        width: 100%;
        
    }

    /* nav part responsive end  */

    .banner-container{
       
       flex-direction: column-reverse;
        
    }
    .banner-img{
        width: 100%;
    }
    .banner-content{
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    /* banner part responsive end  */

    .online-game-img-container{
        flex-direction: column;
    }

}